aside {
  display: grid;
  grid: auto/auto;

  .grid_container_section {
    display: grid;
    @include gridOneColumn;
    grid-gap: 0;
    background-color: #2196f3;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
  }
  .grid_container_section_item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
  }
  .squarePix {
    background-size: cover;
    background-position: center;
  }
  .fold {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: auto;
    background-color: yellow;
  }
}
@media (min-width: 320px) {
  aside {
    grid: auto/50% 50%;

    .foldTop {
      @include foldDouble;
    }
  }
}
@media (min-width: 568px) {
  aside {
    grid: auto/auto;

    .fold {
      @include foldDouble;
    }
    .grid_container_section {
      grid: auto / auto auto;
    }

    .foldTop {
      @include foldNormal;
    }
  }
}

@media (min-width: 768px) {
  aside {
    grid: auto/auto;
    .grid_container_section {
      grid: auto / auto;
    }
    .fold {
      @include foldNormal;
    }
  }
}

@media (min-width: 1024px) {
  aside {
    grid: auto/auto;

    .fold {
      @include foldDouble;
    }
    .grid_container_section {
      grid: auto / 30%;
    }
  }
}
@media (min-width: 1366px) {
  aside {
    grid: auto/auto auto;
    .fold {
      @include foldNormal;
    }
    .grid_container_section {
      grid: auto / auto;
    }
    .foldTop {
      @include foldDouble;
    }
  }
}
