@import "var";
@import "nav";
@import "fonts";
@import "side";
@import "pix";
@import "video";
@import "textImage";
body {
  color: black;
}
h1 {
  font-family: header;
  color: whitesmoke;
  letter-spacing: 0.1em;
}
p {
  margin: 0.5em 0;
}
h4,
h5 {
  margin: 0.5em 0;
}
#wrapper {
  width: 95%;
  margin: 0 auto;
}

article {
  width: 100%;
}

aside {
  width: 100%;
}

footer {
  width: 100%;
  display: grid;
}

#info {
  //other things here
  color: greenyellow;
  &:after {
    content: "old very Small devices";
  }
}
//grid
.grid_container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #2196f3;
  // padding: 10px;
  column-gap: 0px;
  row-gap: 0px;
  margin-bottom: 1em;
}
.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.pix {
  grid-column-start: 1;
  grid-column-end: 3;
}

// Small devices (landscape phones, 320px and up)
@media (min-width: 320px) {
  #info {
    //other things here
    &:after {
      content: "very Small devices 320px and up";
    }
  }
}
// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) {
  #info {
    //other things here
    &:after {
      content: "Small devices 568px and up";
    }
  }
}
// Medium devices (Tablet, portrait, 768px and up)
@media (min-width: 768px) {
  #info {
    //other things here
    &:after {
      content: "Tablet, portrait 768px and up";
    }
  }
  #wrapper {
    width: 90%;
    margin: 0 auto;
  }

  article {
    width: calc(70% - 0.25em);
    float: left;

    border-right: 0.25em solid blue;
  }

  aside {
    width: 30%;
    float: right;
  }

  // Tablet, landscape (desktops, 1024px and up)
}
@media (min-width: 1024px) {
  #info {
    //other things here
    &:after {
      content: "Tablet, landscape 1024px and up";
    }
  }
}

// Extra large devices (Laptop displays, 1366px and up)
@media (min-width: 1366px) {
  #info {
    //other things here
    &:after {
      content: "Laptop displays 1366px and up";
    }
  }
}

// Extra large devices (Desktop displays, 1680px and up)
@media (min-width: 1680px) {
  #info {
    //other things here
    &:after {
      content: "Desktop displays 1680px and up";
    }
  }
}
// Extra large devices (Desktop displays, 1920px and up)
@media (min-width: 1920px) {
  #info {
    //other things here
    &:after {
      content: "Desktop displays 1920px and up";
    }
  }
}

#myVideos,
// #bigPix,
#pixGallerie
// aside
{
  display: none;
}
