@import "nav";
@import "fonts";
@import "side";
body {
  color: black;
}

table,
tr,
td {
  border: 1px solid black;
}

#wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
}

section {
  .videoFigure {
    margin-bottom: 1em;
  }
  img {
    margin-bottom: 1em;
  }
}
article {
  width: 100%;
}

aside {
  width: 100%;
}

footer {
  width: 100%;
  display: grid;
}

.video43 {
  padding-bottom: 75%;
  .clickMe {
    padding-bottom: 75%;
    img {
      pointer-events: none;
    }
  }
}
.video169 {
  padding-bottom: 56.25%;
  .clickMe {
    padding-bottom: 56.25%;
    img {
      pointer-events: none;
    }
  }
}
.video43,
.video169 {
  iframe {
    display: none;
  }
}
.clickMe {
  background-size: cover;
  img {
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -23px;
    &:hover {
      cursor: pointer;
    }
  }
}

.grid_containerVideos {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.videoItem2 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}
.videoFigure,
.clickMe {
  height: 0;

  position: relative;
  max-width: 100%;
  background-color: pink;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#info {
  //other things here
  color: greenyellow;
  &:after {
    content: "old very Small devices";
  }
}
//grid
.grid_container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #2196f3;
  // padding: 10px;
  column-gap: 0px;
  row-gap: 0px;
  margin-bottom: 1em;
}
.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.pix {
  grid-column-start: 1;
  grid-column-end: 3;
}

// Small devices (landscape phones, 320px and up)
@media (min-width: 320px) {
  #info {
    //other things here
    &:after {
      content: "very Small devices 320px and up";
    }
  }
}
// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) {
  #info {
    //other things here
    &:after {
      content: "Small devices 568px and up";
    }
  }
}
// Medium devices (Tablet, portrait, 768px and up)
@media (min-width: 768px) {
  #info {
    //other things here
    &:after {
      content: "Tablet, portrait 768px and up";
    }
  }
  #wrapper {
    width: 90%;
    margin: 0 auto;
  }

  article {
    width: 70%;
    float: left;
  }

  aside {
    width: 30%;
    float: right;
  }

  // Tablet, landscape (desktops, 1024px and up)
}
@media (min-width: 1024px) {
  #info {
    //other things here
    &:after {
      content: "Tablet, landscape 1024px and up";
    }
  }
}

// Extra large devices (Laptop displays, 1366px and up)
@media (min-width: 1366px) {
  #info {
    //other things here
    &:after {
      content: "Laptop displays 1366px and up";
    }
  }

  // .video169 {
  //   padding-bottom: 360px;
  // }
  // .video43 {
  //   padding-bottom: 480px;
  // }

  .grid_containerVideos {
    grid-template-columns: 50% 50%;
    grid-gap: 0px;

    padding: 0px;
  }
}

// Extra large devices (Desktop displays, 1680px and up)
@media (min-width: 1680px) {
  #info {
    //other things here
    &:after {
      content: "Desktop displays 1680px and up";
    }
  }
}
// Extra large devices (Desktop displays, 1920px and up)
@media (min-width: 1920px) {
  #info {
    //other things here
    &:after {
      content: "Desktop displays 1920px and up";
    }
  }
}

#myVideos {
  display: none;
}
